node_modules/
.env
*.log
android/build/
android/.cxx/
android/app/build/
*.keystore
!debug.keystore
android/.gradle/
android/build/
android/app/build/
*.hprof
android/gradle/wrapper/gradle-wrapper.jar
