*.db
*.log
*.zip
node_modules/
.env

# Carpetas del proyecto
backend/
frontend/
timefocus-backend/
api/node_modules/
api/.env

# Builds / específicos
frontend/mobile-frontend/
/web-completo/
/web-backend/