extends ../layouts/app

block page
  .perfil-page
    .card.perfil-hero
      .perfil-avatar= user ? user.nombre.charAt(0).toUpperCase() : 'U'
      .perfil-info
        h2.perfil-info__name= user ? (user.nombre + ' ' + (user.apellido_paterno || '')) : 'Usuario'
        p.perfil-info__role= user ? (user.nombre_carrera || 'Estudiante') : 'Estudiante'
        p.perfil-info__email= user ? user.email : ''

    .perfil-menu
      a.perfil-menu__item(href='/perfil/info')
        span Mi información
        span →
      a.perfil-menu__item(href='/perfil/metas')
        span Metas de estudio
        span →
      a.perfil-menu__item(href='/estadisticas')
        span Mis estadísticas
        span →
      a.perfil-menu__item(href='/perfil/notificaciones')
        span Notificaciones
        span →
      a.perfil-menu__item(href='/perfil/privacidad')
        span Privacidad de datos
        span →
      a.perfil-menu__item.perfil-menu__item--danger(href='/logout')
        span Cerrar sesión
        span →

  style.
    .perfil-info__email {
      font-size: 13px;
      color: #aaa;
      margin-top: 2px;
    }
