extends ../layouts/app

block page
  .page-header
    a.back-btn(href='/perfil') ←
    h1.page-header__title Mi Información

  form(action='/perfil/info' method='POST')
    .form-card

      .form-field
        label.form-label Nombre
        input.form-input(type='text' name='nombre' placeholder='Nombre' value=user ? user.nombre : '')

      .form-field
        label.form-label Apellido paterno
        input.form-input(type='text' name='apellido_paterno' placeholder='Apellido paterno' value=user ? (user.apellido_paterno || '') : '')

      .form-field
        label.form-label Correo electrónico
        input.form-input(type='email' name='email' placeholder='Correo' value=user ? user.email : '' readonly)

      .form-field
        label.form-label Carrera
        input.form-input(type='text' name='nombre_carrera' placeholder='Carrera' value=user ? (user.nombre_carrera || '') : '')

    .form-footer
      button.btn-primary(type='submit') Guardar cambios →
      a.btn-cancel(href='/perfil') Cancelar
